/* @font-face {
    font-family: 'Italiana';
    src: url('./Italiana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Italianno';
    src: url('./Italianno.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

/* Global variables */
:root {
    --header-height: 2.5rem;
    --footer-height: 2.5rem;
    --primary-color: rgba(51, 51, 51, 255);
    --secondary-color: rgba(221, 221, 221, 255);
    --tertiary-color: rgba(238, 238, 238, 255);
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    height: 5rem;
}

#main {
    display: flex;
    flex-grow: 1;
    width: 100vw;
    margin-bottom: 2.5rem;
}

#nav {
    background-color: var(--tertiary-color);
    min-width: clamp(200px, 45vw, 300px);
    padding: 1rem;
}

.sub-nav {
    margin-bottom: 2rem;
}

.sub-nav-header {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-item img {
    margin-right:0.5rem;
    width: 1.5rem;
}

#add-project-input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

#add-task-input {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.todo-buttons {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.todo-button {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 0;
    width: 100%;
}

.todo-button:hover {
    filter: brightness(90%);
}

.add-button {
    background-color: #aaffaa;
    border: 1px solid #99dd99;
}

.cancel-button {
    background-color: #ffbebe;
    border: 1px solid #eeadad;
}

#matter {
    max-width: 900px;
    padding: 1rem;
}

.matter-header {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.list-item {
    display: flex;
    align-items: center;
    padding: 0.125rem 1rem;
}

.list-item img {
    margin-right: 0.5rem;
    width: 1.5rem;
}


.add-item {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

#add-project-field {
    display:flex;
    align-items: center;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.add-item img {
    margin-right: 0.5rem;
    width: 1.5rem;
}

#footer {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
}